.app {
  text-align: center;
}

.clock {
  color: white;
  font-size: 150px;
  padding-top: 15%;
  font-weight: bold;
}

.red-clock {
  text-align: center;
  color: red;
  font-size: 150px;
  padding-top: 15%;
  font-weight: bold;
}

.blue-clock {
  text-align: center;
  color: blue;
  font-size: 150px;
  padding-top: 15%;
  font-weight: bold;
}

.red-button {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color:red;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}

.red-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.red-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.red-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.blue-button {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color:blue;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}

.blue-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.blue-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.blue-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}